# Site Configuration
SITE_NAME="Agape Pentecostal Church"
SITE_URL="https://agapepentecostalchurch.com"

# Email Delivery Configuration
CONTACT_TO_EMAIL="agapepentecostalchurchapc@gmail.com, vijaymachavarapu.m@gmail.com, agapeprasad.m@gmail.com"
SMTP_USER="agapepentecostalchurchapc@gmail.com"
SMTP_PASS="soti ehus qhvg gwzv"
SMTP_FROM="Agape Pentecostal Church <agapepentecostalchurchapc@gmail.com>"
